*,
::after,
::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid-container {
  border: 5px solid #333;
  display: flex;
  flex-wrap: wrap;
  height: 960px;
  width: 960px;
}

/* Class Selectors */
.grid-square {
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
  width: calc(100% / 16);
}
